
.DS_Store
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/cache-v2-bebbf0a7739cf0c6c8b6.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6f816625fbfb5eb86a7f.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-82d6cff5a6f937329b65.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-06T11-51-50-0018.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/target-jsoncpp-Debug-52fed0464d15833ab244.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/target-server-Debug-bfd96ee3eaa2cd783c6d.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-0b2ab1b5733a52935e7e.json
whisper_server/server/cmake-build-debug/CMakeFiles/jsoncpp.dir/external/jsoncpp.cpp.o
whisper_server/server/cmake-build-debug/CMakeFiles/jsoncpp.dir/external/jsoncpp.cpp.o.d
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/server.cpp.o
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/server.cpp.o.d
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/WebsocketServer.cpp.o
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/WebsocketServer.cpp.o.d

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
.DS_Store
.DS_Store
server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2d2d9ffb975989340593.json
server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c55d38622a49b266c624.json
server/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-26T07-20-53-0649.json
server/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-28T04-31-26-0121.json
server/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/server
server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c55d38622a49b266c624.json
server/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-26T07-20-53-0649.json
server/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/server
server/cmake-build-debug/server
server/cmake-build-debug/Testing/Temporary/LastTest.log
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/cache-v2-fd7e7eff12d6359f98d8.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f8870633e1bdc13860a0.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2436f20b5f82e408c3a3.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-06T11-04-17-0437.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-06T11-57-48-0905.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/target-jsoncpp-Debug-ca9508fe722fdff7eec5.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/target-server-Debug-8b66695ca8e70452a900.json
whisper_server/server/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e039a58d9a0855efcf8d.json
whisper_server/server/cmake-build-debug/cmake_install.cmake
whisper_server/server/cmake-build-debug/CMakeCache.txt
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
whisper_server/server/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
whisper_server/server/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
whisper_server/server/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
whisper_server/server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/jsoncpp.dir/build.make
whisper_server/server/cmake-build-debug/CMakeFiles/jsoncpp.dir/DependInfo.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/jsoncpp.dir/flags.make
whisper_server/server/cmake-build-debug/CMakeFiles/jsoncpp.dir/link.txt
whisper_server/server/cmake-build-debug/CMakeFiles/Makefile.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/Makefile2
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/build.make
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/flags.make
whisper_server/server/cmake-build-debug/CMakeFiles/server.dir/link.txt
whisper_server/server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
whisper_server/server/cmake-build-debug/libjsoncpp.a
whisper_server/server/cmake-build-debug/Makefile
whisper_server/server/cmake-build-debug/server
whisper_server/server/cmake-build-debug/Testing/Temporary/LastTest.log
whisper_server/server/cmake-build-debug/WebsocketServer.cbp
